# Ignorar directorios de Visual Studio Code:
.devcontainer
.vscode
.vscode-server

# Ignorar archivos y directorios de Git:
.git
.gitconfig
.gitignore

# Ignorar archivos de historial:
.*_hist*

# Ignorar archivos del sistema operativo:
**/.DS_Store

# Ignorar todos los archivos de Docker
Dockerfile
*-compose.yml
.dockerignore

# Ignorar archivos de dotenv:
*.env

# Ignorar builds:
build/

# Ignore gradle cache:
.gradle/

# Ignore github directory:
.github/

# Ignore database dumps:
db/dumps

# Ignore eclipse settings:
.settings