version: "3.7"

volumes:
  postgres_data:
  gradle_user_home:

services:
  postgres:
    image: postgres:12-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: 3x4mpl3P455w0rd

  web:
    image: vovimayhem/spring-demo:development
    build:
      context: .
      # target: development
    ports:
      - 8080:8080
    volumes:
      - .:/usr/src
      - gradle_user_home:/usr/local/gradle
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo_development
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 3x4mpl3P455w0rd